/* Enter your custom styles here */



div#__hbox4 {
    margin-left: 100px;
    margin-right: 100px;
} 

div#__hbox1 {
    margin-left: 100px;
}
button#__button0 {
    margin-left: 118px;
}

div#container-cp\.appf\.cpsaleshconfig---Home--page-title {
    font-weight: bold;
}

h2#LocSlctList-dialog-title {
    font-weight: bold;
}

h2#prodSlctList-dialog-title {
    font-weight: bold;
}
div#__xmlview0--page-title {
    font-weight: bold;
}