/* Enter your custom styles here */

/* div#__hbox1 {
    margin-right: 100px;
    margin-left: 100px;
}

boldText{
    font-weight: bold;
}*/

div#__hbox4 {
    margin-left: 100px;
    margin-right: 100px;
} 

div#__hbox1 {
    margin-left: 100px;
}