# auto generated wildcard
gen/db/.env

# added by cds deploy
default-env.json

node_modules
node_modules
node_modules

    # added by cds deploy./app/cp_saleshcfg/node_modules

    default-env.json
./app/cp_assignprofiles/node_modules
./app/cp_bomod/node_modules
./app/cp_execprediction/node_modules
./app/cp_exeregressionmdls/node_modules
./app/cp_generatetimeseries/node_modules
./app/cp_ibpfres/node_modules
./app/cp_locprod/node_modules
./app/cp_objdepdetails/node_modules
./app/cp_odprofiles/node_modules
./app/cp_prodconfig/node_modules
./app/cpasmbcompreq/node_modules
./app/cpbompvs/node_modules
./app/cpcompreq/node_modules
./app/cpcustgroup/node_modules
./app/cpibpresultplan/node_modules
./app/cpjobscheduler/node_modules
./app/cplocation/node_modules
./app/cpnewpartialprod/node_modules
./app/cpodrestrict/node_modules
./app/cpprodlocline/node_modules
./app/cprtrheader/node_modules

./app/cp_assignprofiles/dist
./app/cp_bomod/dist
./app/cp_execprediction/dist
./app/cp_exeregressionmdls/dist
./app/cp_generatetimeseries/dist
./app/cp_ibpfres/dist
./app/cp_ibpfuturedemand/dist
./app/cp_locprod/dist
./app/cp_nodesdetails/dist
./app/cp_objdepdetails/dist
./app/cp_odprofiles/dist
./app/cp_prodconfig/dist
./app/cp_saleshcfg/dist
./app/cp_saleshconfig/dist
./app/cpasmbcompreq/dist
./app/cpauthobjrole/dist
./app/cpbompvs/dist
./app/cpcompreq/dist
./app/cpcustgroup/dist
./app/cpibpresultplan/dist
./app/cpjobscheduler/dist
./app/cpjobscheduler_logs/dist
./app/cplocation/dist
./app/cpnewpartialprod/dist
./app/cpodrestrict/dist
./app/cpprodlocline/dist
./app/cpproduct/dist
./app/cprestrictions/dist
./app/cprtrheader/dist

./resources


    
# auto generated wildcard
config_products/gen/db/.env