# CAP config_products
_out
*.db
connection.properties
default-*.json
gen/
node_modules/
target/

# Web IDE, App Studio
.che/
.gen/

# MTA
*_mta_build_tmp
*.mtar
mta_archives/

# Other
.DS_Store
*.orig
*.log

*.iml
*.flattened-pom.xml

# IDEs
# .vscode
# .idea
resources/cpibpfrescpibpfres.zip
resources/cpibpfplancpibpfplan.zip
resources/cpibpfdemcpibpfdem.zip
resources/cpexecpredcpexecprediction.zip
resources/cfgapppvsrootcfgprdpvsroot.zip
app/cp_ibpfres/dist/sap-ui-cachebuster-info.json
app/cp_ibpfres/dist/resources/sap-ui-version.json
app/cp_ibpfres/dist/manifest-bundle.zip
app/cp_ibpfres/dist/cpibpfrescpibpfres.zip
app/cp_ibpfplan/dist/sap-ui-cachebuster-info.json
app/cp_ibpfplan/dist/resources/sap-ui-version.json
app/cp_ibpfplan/dist/manifest-bundle.zip
app/cp_ibpfplan/dist/cpibpfplancpibpfplan.zip
app/cp_ibpfdem/dist/sap-ui-cachebuster-info.json
app/cp_ibpfdem/dist/resources/sap-ui-version.json
app/cp_ibpfdem/dist/manifest-bundle.zip
app/cp_ibpfdem/dist/cpibpfdemcpibpfdem.zip
app/cp_execprediction/dist/view/Home.view.xml
app/cp_execprediction/dist/sap-ui-cachebuster-info.json
app/cp_execprediction/dist/resources/sap-ui-version.json
app/cp_execprediction/dist/manifest-bundle.zip
app/cp_execprediction/dist/cpexecpredcpexecprediction.zip
app/cp_execprediction/dist/Component-preload.js
app/cfgprd_pvsroot/dist/sap-ui-cachebuster-info.json
app/cfgprd_pvsroot/dist/resources/sap-ui-version.json
app/cfgprd_pvsroot/dist/manifest-bundle.zip
app/cfgprd_pvsroot/dist/cfgapppvsrootcfgprdpvsroot.zip
app/cfgprd_pvsroot/dist/manifest-bundle.zip
app/cfgprd_pvsroot/dist/cfgapppvsrootcfgprdpvsroot.zip
app/cfgprd_pvsroot/dist/cfgapppvsrootcfgprdpvsroot.zip
app/cfgprd_pvsroot/dist/manifest-bundle.zip
app/cp_exeregressionmdls/dist/cpexeregcpexeregressionmdls.zip
app/cp_exeregressionmdls/dist/manifest-bundle.zip
.gitignore
resources/cpmdlprofilecpmodelprofiles.zip
resources/cpexeregcpexeregressionmdls.zip
app/cp_modelprofiles/dist/sap-ui-cachebuster-info.json
app/cp_modelprofiles/dist/resources/sap-ui-version.json
app/cp_modelprofiles/dist/manifest-bundle.zip
app/cp_modelprofiles/dist/cpmdlprofilecpmodelprofiles.zip
app/cp_exeregressionmdls/dist/sap-ui-cachebuster-info.json
app/cp_exeregressionmdls/dist/resources/sap-ui-version.json
app/cp_bomod/dist/sap-ui-cachebuster-info.json
app/cp_bomod/dist/resources/sap-ui-version.json
app/cp_assignprofiles/dist/sap-ui-cachebuster-info.json
app/cp_assignprofiles/dist/sap-ui-cachebuster-info.json
app/cp_bomod/dist/resources/sap-ui-version.json
app/cp_bomod/dist/sap-ui-cachebuster-info.json
app/cp_bomod/webapp/controller/ItemDetail.controller.js
app/cp_bomod/webapp/controller/ItemMaster.controller.js
app/cp_execprediction/dist/controller/Home-dbg.controller.js
app/cp_execprediction/dist/controller/Home.controller.js
app/cp_execprediction/webapp/controller/Home.controller.js
app/cp_execprediction/webapp/manifest.json
app/cp_locprod/dist/resources/sap-ui-version.json
app/cp_locprod/dist/sap-ui-cachebuster-info.json
app/cp_modelprofiles/package-lock.json
app/cp_odprofiles/dist/Component-preload.js
app/cp_odprofiles/dist/controller/Home-dbg.controller.js
app/cp_odprofiles/dist/controller/Home.controller.js
app/cp_odprofiles/dist/resources/sap-ui-version.json
app/cp_odprofiles/dist/sap-ui-cachebuster-info.json
app/cp_odprofiles/webapp/controller/Home.controller.js
app/cp_odprofiles/webapp/manifest.json
app/cp_prodconfig/dist/Component-preload.js
app/cp_prodconfig/dist/resources/sap-ui-version.json
app/cp_prodconfig/dist/sap-ui-cachebuster-info.json
app/cp_prodconfig/dist/view/ItemDetail.view.xml
app/cp_prodconfig/webapp/controller/ItemDetail.controller.js
app/cp_saleshcfg/dist/resources/sap-ui-version.json
app/cp_saleshcfg/dist/sap-ui-cachebuster-info.json
app/cp_bomod/dist/sap-ui-cachebuster-info.json
app/cp_bomod/dist/resources/sap-ui-version.json
app/cp_assignprofiles/dist/sap-ui-cachebuster-info.json
app/cp_assignprofiles/dist/sap-ui-cachebuster-info.json
.gitignore
app/cp_bomod/dist/resources/sap-ui-version.json
app/cp_assignprofiles/dist/sap-ui-cachebuster-info.json
app/cp_bomod/dist/sap-ui-cachebuster-info.json
app/cp_saleshcfg/dist/sap-ui-cachebuster-info.json
app/cp_saleshcfg/dist/sap-ui-cachebuster-info.json
app/cp_assignprofiles/dist/sap-ui-cachebuster-info.json
app/cp_assignprofiles/dist/sap-ui-cachebuster-info.json
app/cp_bomod/dist/resources/sap-ui-version.json
app/cp_bomod/dist/sap-ui-cachebuster-info.json
app/cp_bomod/webapp/controller/ItemDetail.controller.js
app/cp_bomod/webapp/controller/ItemMaster.controller.js
app/cp_execprediction/dist/controller/Home-dbg.controller.js
app/cp_execprediction/dist/controller/Home.controller.js
app/cp_execprediction/webapp/controller/Home.controller.js
app/cp_execprediction/webapp/manifest.json
app/cp_locprod/dist/resources/sap-ui-version.json
app/cp_locprod/dist/sap-ui-cachebuster-info.json
app/cp_modelprofiles/package-lock.json
app/cp_odprofiles/dist/Component-preload.js
app/cp_odprofiles/dist/controller/Home-dbg.controller.js
app/cp_odprofiles/dist/controller/Home.controller.js
app/cp_odprofiles/dist/resources/sap-ui-version.json
app/cp_odprofiles/dist/sap-ui-cachebuster-info.json
app/cp_odprofiles/webapp/controller/Home.controller.js
app/cp_odprofiles/webapp/manifest.json
app/cp_prodconfig/dist/Component-preload.js
app/cp_prodconfig/dist/resources/sap-ui-version.json
app/cp_prodconfig/dist/sap-ui-cachebuster-info.json
app/cp_prodconfig/dist/view/ItemDetail.view.xml
app/cp_prodconfig/webapp/controller/ItemDetail.controller.js
app/cp_saleshcfg/dist/resources/sap-ui-version.json
app/cp_saleshcfg/dist/sap-ui-cachebuster-info.json
