# auto generated wildcard
gen/db/.env

# added by cds deploy
default-env.json

node_modules
node_modules
node_modules

    # added by cds deploy./app/cp_saleshcfg/node_modules

    default-env.json
./app/cp_assignprofiles/node_modules
./app/cp_bomod/node_modules
./app/cp_execprediction/node_modules
./app/cp_exeregressionmdls/node_modules
./app/cp_generatetimeseries/node_modules
./app/cp_ibpfres/node_modules
./app/cp_locprod/node_modules
./app/cp_objdepdetails/node_modules
./app/cp_odprofiles/node_modules
./app/cp_prodconfig/node_modules
./app/cpasmbcompreq/node_modules
./app/cpbompvs/node_modules
./app/cpcompreq/node_modules
./app/cpcustgroup/node_modules
./app/cpibpresultplan/node_modules
./app/cpjobscheduler/node_modules
./app/cplocation/node_modules
./app/cpnewpartialprod/node_modules
./app/cpodrestrict/node_modules
./app/cpprodlocline/node_modules
./app/cprtrheader/node_modules

./app/cp_assignprofiles/dist
./app/cp_bomod/dist
./app/cp_execprediction/dist
./app/cp_exeregressionmdls/dist
./app/cp_generatetimeseries/dist
./app/cp_ibpfres/dist
./app/cp_ibpfuturedemand/dist
./app/cp_locprod/dist
./app/cp_nodesdetails/dist
./app/cp_objdepdetails/dist
./app/cp_odprofiles/dist
./app/cp_prodconfig/dist
./app/cp_saleshcfg/dist
./app/cp_saleshconfig/dist
./app/cpasmbcompreq/dist
./app/cpauthobjrole/dist
./app/cpbompvs/dist
./app/cpcompreq/dist
./app/cpcustgroup/dist
./app/cpibpresultplan/dist
./app/cpjobscheduler/dist
./app/cpjobscheduler_logs/dist
./app/cplocation/dist
./app/cpnewpartialprod/dist
./app/cpodrestrict/dist
./app/cpprodlocline/dist
./app/cpproduct/dist
./app/cprestrictions/dist
./app/cprtrheader/dist

./app/cp_assignprofiles/dist/cpappfcpassignprofiles.zip
./app/cp_assignprofiles/dist/manifest-bundle.zip
./app/cp_bomod/dist/cpappfcpbomod.zip
./app/cp_bomod/dist/manifest-bundle.zip
./app/cp_fullyconfproddmnd/dist/cpappcpfullyconfproddmnd.zip
./app/cp_fullyconfproddmnd/dist/manifest-bundle.zip
./app/cp_ibpfuturedemand/dist/cpappfcpibpfuturedemand.zip
./app/cp_ibpfuturedemand/dist/manifest-bundle.zip
./app/cp_locprod/dist/cplpcplocprod.zip
./app/cp_locprod/dist/manifest-bundle.zip
./app/cp_nodesdetails/dist/cpappfcpnodesdetails.zip
./app/cp_nodesdetails/dist/manifest-bundle.zip
./app/cp_odprofiles/dist/cpodpcpodprofiles.zip
./app/cp_odprofiles/dist/manifest-bundle.zip
./app/cp_planingconfig/dist/cpappcpplaningconfig.zip
./app/cp_planingconfig/dist/manifest-bundle.zip
./app/cp_prodconfig/dist/cpappfcpprodconfig.zip
./app/cp_prodconfig/dist/manifest-bundle.zip
./app/cp_prodlocline/dist/cpappcpprodlocline.zip
./app/cp_prodlocline/dist/manifest-bundle.zip
./app/cp_saleshconfig/dist/cpappfcpsaleshconfig.zip
./app/cp_saleshconfig/dist/manifest-bundle.zip
./app/cpasmbcompreq/dist/cpappcpasmbcompreq.zip
./app/cpasmbcompreq/dist/manifest-bundle.zip
./app/cpauthentication/dist/cpappcpauthentication.zip
./app/cpauthentication/dist/manifest-bundle.zip
./app/cpauthorization/dist/cpappcpauthorization.zip
./app/cpauthorization/dist/manifest-bundle.zip
./app/cpbompvs/dist/cpappcpbompvs.zip
./app/cpbompvs/dist/manifest-bundle.zip
./app/cpcharqtygraph/dist/cpappcpcharqtygraph.zip
./app/cpcharqtygraph/dist/manifest-bundle.zip
./app/cpcompreq/dist/cpappcpcompreq.zip
./app/cpcompreq/dist/manifest-bundle.zip
./app/cpcustgroup/dist/cpappcpcustgroup.zip
./app/cpcustgroup/dist/manifest-bundle.zip
./app/cpjoblog/dist/cpappcpjoblog.zip
./app/cpjoblog/dist/manifest-bundle.zip
./app/cpjobscheduler/dist/cpappcpjobscheduler.zip
./app/cpjobscheduler/dist/manifest-bundle.zip
./app/cplocation/dist/cpappcplocation.zip
./app/cplocation/dist/manifest-bundle.zip
./app/cpmatvariant/dist/cpappcpmatvariant.zip
./app/cpmatvariant/dist/manifest-bundle.zip
./app/cpnewprodintro/dist/cpappcpnewprodintro.zip
./app/cpnewprodintro/dist/manifest-bundle.zip
./app/cppartialprodnew/dist/cpappcppartialprodnew.zip
./app/cppartialprodnew/dist/manifest-bundle.zip
./app/cpprodrestr/dist/cpappcpprodrestr.zip
./app/cpprodrestr/dist/manifest-bundle.zip
./app/cpproduct/dist/cpappcpproduct.zip
./app/cpproduct/dist/manifest-bundle.zip
./app/cpprscchar/dist/cpappcpprscchar.zip
./app/cpprscchar/dist/manifest-bundle.zip
./app/cprestrictions/dist/cpappcprestrictions.zip
./app/cprestrictions/dist/manifest-bundle.zip
./app/cpsalesstock/dist/cpappcpsalesstock.zip
./app/cpsalesstock/dist/manifest-bundle.zip
./app/cpseedordercreation/dist/cpappcpseedordercreation.zip
./app/cpseedordercreation/dist/manifest-bundle.zip
./resources/cpappcpasmbcompreq.zip
./resources/cpappcpauthentication.zip
./resources/cpappcpauthorization.zip
./resources/cpappcpbompvs.zip
./resources/cpappcpcharqtygraph.zip
./resources/cpappcpcompreq.zip
./resources/cpappcpcustgroup.zip
./resources/cpappcpfullyconfproddmnd.zip
./resources/cpappcpjoblog.zip
./resources/cpappcpjobscheduler.zip
./resources/cpappcplocation.zip
./resources/cpappcpmatvariant.zip
./resources/cpappcpnewprodintro.zip
./resources/cpappcppartialprodnew.zip
./resources/cpappcpplaningconfig.zip
./resources/cpappcpprodlocline.zip
./resources/cpappcpprodrestr.zip
./resources/cpappcpproduct.zip
./resources/cpappcpprscchar.zip
./resources/cpappcpsalesstock.zip
./resources/cpappcpseedordercreation.zip
./resources/cpappfcpassignprofiles.zip
./resources/cpappfcpbomod.zip
./resources/cpappfcpibpfuturedemand.zip
./resources/cpappfcpnodesdetails.zip
./resources/cpappfcpprodconfig.zip
./resources/cpappfcpsaleshconfig.zip
./resources/cplpcplocprod.zip
./resources/cpodpcpodprofiles.zip
./resources


    
# auto generated wildcard
config_products/gen/db/.env
# added by cds bind
.cdsrc-private.json

# auto generated wildcard
config_products_dev/gen/db/.env