/* Enter your custom styles here */

div#__title0 {
    margin-left: 700px;
}
div#__xmlview3--struTitle {
    margin-left: 350px;
}

.boldText {
    font-weight: bold !important;
}

header#__xmlview1--accessList-header {
    font-weight: bold;
}

div#__data31 {
    margin-left: 50px;
}
div#__data34 {
    margin-left: 50px;
}

div#__data36 {
    margin-top: 7px;
    margin-right: 5px;
}

div#__data38 {
    margin-top: 7px;
    margin-right: 5px;
    margin-left: 15px;
}

div#__data40 {
    margin-left: 10px;
}