/* Enter your custom styles here */

/* div#__title0 {
    margin-left: 700px;
} */
div#__xmlview3--struTitle {
    margin-left: 350px;
}

.boldText {
    font-weight: bold ;
    margin-top:0.185rem
}

header#__xmlview1--accessList-header {
    font-weight: bold;
}
.hdrBtnMarginHdr{
    margin-left: 1rem;
    margin-top:0.185rem
}


