/* Enter your custom styles here */
.newHBox {
    margin-left: 250px;
}
.hdrBtnMargin{
    margin-left:35rem;
}

.hdrBtnMarginHdr{
    margin-left:1rem;
}

.sapFDynamicPageTitleMain>.sapFDynamicPageTitleMainInner .sapFDynamicPageTitleMainHeading .sapFDynamicPageTitleMainHeadingInner .sapMTitle {
    font-size: 1.25rem;
    margin-top: 0.25rem;
}
.sapUxAPObjectPageSubSection {

    padding: 0rem !important;
}