/* Enter your custom styles here */


button#container-cpappf\.cpgeneratetimeseries---Home--idTimeSeries {
    margin-left: 300px;
    margin-right: 50px;
}

button#container-cpappf\.cpgeneratetimeseries---Home--buttonCompReq {
    margin-left: 300px;
}