/* Enter your custom styles here */
.table {
    padding-left : 0.1rem;
    margin-right : 0.1rem;
    margin-bottom: 0.1rem;
    height: auto;
}
.tableScroll .sapUiTableVSb {
    overflow-y: hidden;
}
<<<<<<< HEAD
.hdrBtnMarginHdr {
  margin-left :1rem;
=======
.hdrBtnMargin {
  margin-left : 80rem;
>>>>>>> 5a6f96f8cd44c3992135036cfa33098d432b1300
}
.disableDP input{
    pointer-events: none;
    color: transparent;
    text-shadow: 0 0 0 gray;
   }

   .classHdr{
<<<<<<< HEAD
    margin-left: 77rem;
   }
   .sapFDynamicPageTitleMain>.sapFDynamicPageTitleMainInner .sapFDynamicPageTitleMainHeading .sapFDynamicPageTitleMainHeadingInner .sapMTitle {
    font-size: 1.25rem;
    margin-top: 0.25rem;
}
=======
    margin-left: 90rem;
   }
>>>>>>> 5a6f96f8cd44c3992135036cfa33098d432b1300
